/* <!-- #target id and . target class --> */

#first{
    background-color: grey;        
}
.second{
    background-color: pink;
}
.bg-blue{
    color :white;
    background-color: black;
    text-align: center;
    border-width: 2rem;
    border-color: blue;
}